[mysqld]
log_output = FILE
slow_query_log_file = mysql-slow.log
slow_query_log = ON
long_query_time = 0

innodb_buffer_pool_size = 1024M
innodb_log_file_size = 256M
innodb_log_files_in_group = 2

innodb_file_per_table = ON
innodb_buffer_pool_dump_at_shutdown = ON
innodb_buffer_pool_load_at_startup = ON

innodb_checksum_algorithm = crc32
innodb_file_format = Barracuda
innodb_large_prefix = ON
innodb_online_alter_log_max_size = 1G
innodb_print_all_deadlocks = ON

key_buffer_size = 16M
max_allowed_packet = 16M
max_connect_errors = 1000000000
table_open_cache = 2000
table_open_cache_instances = 4
read_buffer_size = 256K
read_rnd_buffer_size = 512K
sort_buffer_size = 512K
character_set_server = utf8
collation_server = utf8_general_ci
explicit_defaults_for_timestamp = ON
query_cache_type = OFF
sql_mode = TRADITIONAL,NO_ENGINE_SUBSTITUTION
max_connections = 50

[client]
default_character_set = utf8
